In [ ]:
empty_dictionary = {}
print(type(empty_dictionary))

In [ ]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

In [ ]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

In [ ]:
hobby = bio_data['Hobby']
print(hobby)

In [ ]:
age = bio_data['Age']
print(age)

In [ ]:
age = bio_data.get('Age')
print(age)

In [ ]:
profession  =  bio_data.get('Profession','NA')
print(profession)

In [ ]:
bio_data['Age'] = 36
print(bio_data)

In [ ]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

In [ ]:
print('Profession' in bio_data)

In [ ]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

In [ ]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

In [ ]:
bio_data.update(new_dictionary)
print(bio_data)

In [ ]:
del bio_data['Songs']
print(bio_data)

In [3]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [4]:
print(len(students_data))

5

In [5]:
#see all the details of students. 
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [8]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)
sorted(students_data)
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}
{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [ ]:
del students_data[2]
print(students_data)

In [9]:
print(list(students_data.keys()))

[1, 2, 3, 4, 5, 6]

In [10]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [11]:
sorted(input_dict)

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']

In [14]:
print(input_dict)
print(input_dict.items())

{'Jeff Bezos': 'Amazon', 'Tim Cook': 'Apple', 'Jack Dorsey': 'Twitter', 'Mukesh Ambani': 'RJIO'}
[('Jeff Bezos', 'Amazon'), ('Tim Cook', 'Apple'), ('Jack Dorsey', 'Twitter'), ('Mukesh Ambani', 'RJIO')]

In [13]:
sorted(input_dict)

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']