In [0]:
# Inferential Stats:
# Many times you may require to work with very large amount of data for your 
# analysis which may take a lot of time and resoures to acquire.
# In that situation people generally uses inferring insights from the sample
# data.

# example: Exit polls happens using inferrential stastics.
# eith inferentials stat, we would only be able to estimate the population data from the sample data,
# you can only make the reasonable estimates about it with a limited level of certainity.
# Therefore, where certainity is limited, we talk in terms of probability.

Basic rules of probability:

1) Addition rules:

  a) Mututally exclusive events: 
  Probability of having an event A or event B. for e.g A single 6-sided die is rolled. What is the probability of rolling a 2 or a 5?

  p(A or B) = p(A) + p(B)
  Both these events are mutually exclusive since they can't occur at the same time.
  
  b) Non-mutually exclusive events:
  for e.g: A single card is chosen at random from a standard deck of 52 playing cards. What is the probability of choosing a king or a club ?
  p(A or B) = p(A) + p(B) - p(A and B)
  
  p(king or club) = p(king) + p(club) - p(king and club)
                  = 1/13 + 1/4 - 1/52 
                  = 4/13
  
2) Multiplication Rule:

a) Mutually Exclusive Events.
p(A and B) = p(A).p(B)
for e.g: A coin is tossed and a single 6-sided die is rolled. Find the probability of landing on the head side of the coin and rolling a 3 on the die.

p(A and B) = p(A). p(B) 
p(head and rolling 3) = p(head). p(roliing 3)
                      = 1/2 . 1/6
                      = 1/12

e.g 2: 

A jar contains 3 red, 5 green, 2 blue and 6 yellow marbles. A marble is chosen at random from the jar. After replacing it, a second marble is chosen. What is the probability of choosing a green and then a yellow marble?

p(G and Y) = p(G).p(Y)
           = 5/16 . 6/ 16 
           = 15/128

                      
The probability of two or more independent events occurring in sequence can be found by computing the probability of each event separately, and then multiplying the results together.
  
Combinatorics:



Probability::





Random variables:

e.g Assume you have 4 red balls and 2 blue balls.
no of cases we can get 

1) 0 Red 4 blue
  B B B B
2) 1 Red 3 blue
 R B B B
 B R B B
 B B R B
 B B B R
3) 2 Red and 2 Blue
 R R B B
 R B R B
 R B B R
 B R R B
 B R B R
 B B R R

4) 3 Red and 1 Blue

 R R R B
 R R B R
 R B R R
 B R R R

5) 4 Red and 0 Blue
 R R R R
 
 
 Random variables: In this case let's say X = no of red balls.
 
 Picking a random variables depends on out interest. If our interest is in winning by drawing 4 red balls.

In [3]:
import pandas as pd
#import io
#from google.colab import files
#uploaded = files.upload()
data = pd.read_csv('Inferential Statistics - Student Loan.csv')
final_data = data.rename(columns={'Customer No.':'cust_no','Exposure at Default (in lakh Rs.)': 'EAD', 'Recovery (%)': 'R', 'Probability of Default': 'PD'})
final_data.head()
final_data['EAD'] = final_data['EAD']* 100000
final_data.head()

   cust_no        EAD       R      PD  Unnamed: 4  Unnamed: 5
0        1  1150000.0  20.00%  0.0070         NaN         NaN
1        2    24000.0   5.10%  0.0033         NaN         NaN
2        3     4000.0  24.86%  0.0022         NaN         NaN
3        4  1381000.0   2.29%  0.0066         NaN         NaN
4        5  1984000.0   3.47%  0.0020         NaN         NaN

In [11]:
final_data['R'] = pd.to_numeric(final_data['R'].replace({'%':''}, regex=True)) / 100.0

final_data.head()

   cust_no        EAD       R      PD  Unnamed: 4  Unnamed: 5
0        1  1150000.0  0.2000  0.0070         NaN         NaN
1        2    24000.0  0.0510  0.0033         NaN         NaN
2        3     4000.0  0.2486  0.0022         NaN         NaN
3        4  1381000.0  0.0229  0.0066         NaN         NaN
4        5  1984000.0  0.0347  0.0020         NaN         NaN

In [12]:
# EAD(1-R)*P(X = EAD(1-R)) + 0*P(X=0)
expected_val = final_data['EAD'] * (1- final_data['R']) * final_data['PD']

In [15]:
print(expected_val.sum())
#print(expected_val)

49339131.440620005

In [ ]:
sum(ex)