In [28]:
import requests
import json
import io
import pandas as pd
api = 'https://app.visiblealpha.com/api/'
resource = 'addinpg?ticker=FLR&cut=SD&pg=OP&period=FY-2018&clienttype=addin,v0.9.17001.0'
token = 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI0NDI0Nn5-MjAxOS0wMy0yMX5-MTU1OTU2OTYyNi4wIiwiYXBwIjoiYWRkaW4iLCJ1c2VyIjoic291cmFiaC5taXNocmFAdmlzaWJsZWFscGhhLmNvbSIsImV4cCI6MTU5MTA5MTIyNi4wfQ.PjBeIFS1tjk3HeL7r9inSIu4lUFBvdM5rz_LBM2qLhk7zySAagbRrBnQED9Hb0e2pxFA1x7r33dcjob5xrI6ncLMB9vpZ3ohB6e6tGUPM1Jagvh5JyrfLv-1Pkg4OuysIDh1vbkPRWIpLbBwTqga5eGGTBX7qIUsiJQi_o5e_DGFoP4-cLDeKk_Ih1UU-CmYas0cewZO_EsHjnZtt2gIS1oI-7o6RqHxlfStYu-ONBfgpC3WhoYEJmGZ1ldWTbaTGYTJc9geHyErtp3bvt3scbKnNm1H9raY158kWRsfDt9bEEZ-dYDLHWWfFeJH39iJMDlmrEAs1vzy4sFNRRcqHg'
data = requests.get(api+ resource, headers={'Authorization': token}).content
jsonObj = json.loads(data.decode('utf-8'))

periods = []
values = []
parameterIds = []
paramIds = []
precisions = []
ids = []
annotations = []
units = []

for d in jsonObj['data'][0]['data']:
    periods.append(d[u'period'])
    values.append(d[u'value'])
    parameterIds.append(d[u'parameterid'])
    paramIds.append(d[u'param_id'])
    precisions.append(d[u'precision'])
    ids.append(d[u'id'])
    annotations.append(d[u'annotation'])
    units.append(d[u'unit'])
    
    
df = pd.DataFrame( {'Periods': periods,'Values': values, 'ParameterIds': parameterIds, 
                  'ParamIds': paramIds, 'Precisions': precisions, 'Ids': ids, 'Annotations': annotations,
                  'Units':units })
df

,Periods,Values,ParameterIds,ParamIds,Precisions,Ids,Annotations,Units
0,FY-2018,-12.3495105594,211662,211662,2,12384295126|10/11/2019,00,%
1,FY-2018,-12.07193592,211662,211662,2,13884079491|10/11/2019,00,%
2,FY-2018,-12.07193592,211662,211662,2,14028117388|10/11/2019,00,%
3,FY-2018,-1.8884438655,212133,212133,2,12384331627|10/11/2019,00,%
4,FY-2018,-1.88845901214,212133,212133,2,13884071004|10/11/2019,00,%
5,FY-2018,-1.88845901214,212133,212133,2,14028119899|10/11/2019,00,%
6,FY-2018,15112.9922,217195,217195,2,12384297559|10/11/2019,00,Amount
7,FY-2018,15112.9935,217195,217195,2,13884080277|10/11/2019,00,Amount
8,FY-2018,15112.9935,217195,217195,2,14028120568|10/11/2019,00,Amount
9,FY-2018,4586.0,217197,217197,2,12384307062|10/11/2019,00,Amount
10,FY-2018,4586.0,217197,217197,2,13884079315|10/11/2019,00,Amount
11,FY-2018,4586.0,217197,217197,2,14028117223|10/11/2019,00,Amount
12,FY-2018,10641.0,212031,212031,2,12384304465|10/11/2019,00,Amount
13,FY-2018,10641.0,212031,212031,2,13884085113|10/11/2019,00,Amount
14,FY-2018,10641.0,212031,212031,2,14028129691|10/11/2019,00,Amount
15,FY-2018,1.41003789312,60916,60916,2,12384340641|10/11/2019,00,x
16,FY-2018,1.41378496538,60916,60916,2,13884084071|10/11/2019,00,x
17,FY-2018,1.41378496538,60916,60916,2,14028128726|10/11/2019,00,x
18,FY-2018,16.6969848291,215748,215748,2,12384332611|10/11/2019,00,%
19,FY-2018,16.7333188975,215748,215748,2,13884071843|10/11/2019,00,%
20,FY-2018,16.7333188975,215748,215748,2,14028129884|10/11/2019,00,%
21,FY-2018,1.38227216785,214816,214816,2,12384340711|10/11/2019,00,x
22,FY-2018,1.38227205812,214816,214816,2,13884085008|10/11/2019,00,x
23,FY-2018,1.38227205812,214816,214816,2,14028129596|10/11/2019,00,x
24,FY-2018,3772.4055,215745,215745,2,12384332289|10/11/2019,00,Amount
25,FY-2018,3773.43325,215745,215745,2,13884084881|10/11/2019,00,Amount
26,FY-2018,3773.43325,215745,215745,2,14028129476|10/11/2019,00,Amount
27,FY-2018,-1.8884438655,212135,212135,2,12384332179|10/11/2019,00,%
28,FY-2018,-1.88845901214,212135,212135,2,13884071469|10/11/2019,00,%
29,FY-2018,-1.88845901214,212135,212135,2,14028129091|10/11/2019,00,%
...,...,...,...,...,...,...,...,...
129,FY-2018,-12.3495105594,212880,212880,2,12384294188|10/11/2019,00,%
130,FY-2018,-12.07193592,212880,212880,2,13884083439|10/11/2019,00,%
131,FY-2018,-12.07193592,212880,212880,2,14028121085|10/11/2019,00,%
132,FY-2018,7698.19371429,212887,212887,2,12384294337|10/11/2019,00,Amount
133,FY-2018,7698.1945,212887,212887,2,13884080058|10/11/2019,00,Amount
134,FY-2018,7698.1945,212887,212887,2,14028117918|10/11/2019,00,Amount
135,FY-2018,19501.7072857,222641,222641,2,12384294434|10/11/2019,00,Amount
136,FY-2018,20621.993875,222641,222641,2,13884082794|10/11/2019,00,Amount
137,FY-2018,20621.993875,222641,222641,2,14028120459|10/11/2019,00,Amount
138,FY-2018,3771.0,227225,227225,2,12384294156|10/11/2019,00,Amount
139,FY-2018,3771.0,227225,227225,2,13884082928|10/11/2019,00,Amount
140,FY-2018,3771.0,227225,227225,2,14028120601|10/11/2019,00,Amount
141,FY-2018,3772.46342857,212613,212613,2,12384331917|10/11/2019,00,Amount
142,FY-2018,3773.638,212613,212613,2,13884071257|10/11/2019,00,Amount
143,FY-2018,3773.638,212613,212613,2,14028128094|10/11/2019,00,Amount
144,FY-2018,17834.0,212879,212879,2,12384294682|10/11/2019,00,Amount
145,FY-2018,17834.0,212879,212879,2,13884084518|10/11/2019,00,Amount
146,FY-2018,17834.0,212879,212879,2,14028129136|10/11/2019,00,Amount
147,FY-2018,-12.3495105594,212886,212886,2,12384294295|10/11/2019,00,%
148,FY-2018,-12.07193592,212886,212886,2,13884084876|10/11/2019,00,%
149,FY-2018,-12.07193592,212886,212886,2,14028122462|10/11/2019,00,%
150,FY-2018,23406.4285714,212076,212076,2,12384294749|10/11/2019,00,Amount
151,FY-2018,21810.75,212076,212076,2,13884085890|10/11/2019,00,Amount
152,FY-2018,21810.75,212076,212076,2,14028130447|10/11/2019,00,Amount
153,FY-2018,49.324419293,221996,221996,2,12384294686|10/11/2019,00,%
154,FY-2018,49.5260673048,221996,221996,2,13884084685|10/11/2019,00,%
155,FY-2018,49.5260673048,221996,221996,2,14028129280|10/11/2019,00,%
156,FY-2018,4586.0,212789,212789,2,12384307595|10/11/2019,00,Amount
157,FY-2018,4586.0,212789,212789,2,13884080594|10/11/2019,00,Amount
158,FY-2018,4586.0,212789,212789,2,14028118428|10/11/2019,00,Amount